body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a{
  text-decoration: none;
  color: black;
}

.loader {
  margin-top: 50px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.nav-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #6EC1E4;
  height: 50px;
}

.categoryContainer{
  display: none;
}

@media (min-width: 1260px){
  .categoryContainer{
    display: flex;
    justify-content: space-between;
    width: 35%;
  }
}

.logo{
  width: 230px;
  padding-left: 10px;
}

.currentCategory{
  font-weight: bold;
}

.main{
  text-align: center;
}


.itemRow{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
}

.itemContainer{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 50px;
  padding: 0 100px;
}

.itemDetails{
  padding: 0 25px;
  width: 30%;
}

.itemDetailImage{
  width: 200px;
}

.itemCount{
  width: 350px;
  margin-bottom: 20px;
  border: 2px solid #6EC1E4;
  border-radius: 20px;
}

.itemCountImage{
  width: 200px;
}

.countImput{
  text-align: center;
}

.countAddCart{
  margin-bottom: 10px;
}

.footer{
  border-top: 1px solid black;
  text-align: center;
}

.fa-shopping-cart{
  font-size: 20px;
  padding-right: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
